.modal {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #0a0a0a7b;
    &_content {
        background-color: white;
        color: black;
        border-radius: 12px;
        padding: 20px;
    }
}