.container_card {
    padding-top: 50px;
    width: 1125px;
    margin: 0 auto;
    color: black;
    display: grid;
    gap: 20px;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
}

.card {
    border: none;
    border-radius: 8px;
    background: #F0F0F0;
    height: 136px;
    padding: 5px 25px;
    cursor: pointer;
    transition: 0.2s;
    box-shadow: 3px 3px 5px #a3a1a1;

    &:hover {
        transform: translateY(-5px);
        box-shadow: 7px 7px 5px #a3a1a1;
    }

    &:active {
        transform: translateY(-2px);
        box-shadow: 3px 3px 5px #a3a1a1;
    }

    .character_name {
        font-size: 18px;
    }
}

.indicators {
    display: flex;
    margin: 10px auto;

    .indicator_title:first-child {
        margin-right: 10px;
    }

    .indicator_title {
        border: 1mm solid black;
        border-radius: 50%;
        min-width: 40px;
        text-align: center;
        padding: 5px;
        font-size: 15px;
    }

    .indicator_name {
        font-size: 12px;
        margin: 0 5px;
    }
}


.genderBD {
    width: 150px;
    display: flex;
    font-size: 12px;

    &_item1 {
        border: 1mm solid none;
        padding: 0px 15px;
        border-radius: 15px;
        margin-right: 10px;
    }

    &_item2 {
        border: 1mm solid none;
        padding: 0px 15px;
        border-radius: 15px;
    }
}

